body{
	
}
.m-cheerup{
	
}
.m-bigRound{
	border: 2px solid #997733;
	height: 400px;
	width: 400px;
	margin: 0 auto;
	border-radius: 201px;
}
.m-bigRound .list{
	position: relative;
}
.m-bigRound .list .p1{
	position: absolute;
	top: -2px;
	left: -2px;
	height: 200px;
	width: 200px;
	border: 1px solid #993377;
}